<h1>prova form</h1>


<input [formControl]="tempInput" type="text">
<h3>{{temp$ | async | fahrenheit}}</h3>

<form [formGroup]="form" (submit)="save()">
  <div class="form-group">
    <label for="in1">Nome</label>
    <input formControlName="nome" id="in1" placeholder="Nome" [ngClass]="{'form-control': true, 'is-invalid': NameErrors}">
  </div>
  <br/>
  <div class="form-group">
    <label for="in2">Cognome</label>
    <input formControlName="cognome" id="in2" type="text" placeholder="Cognome" [ngClass]="{'form-control': true, 'is-invalid': SurnameErrors}">
    <div>{{form.controls['cognome'].errors | json}}</div>
  </div>
  <div class="form-group">
    <label for="inusername">Username</label>
    <input formControlName="username" id="inusername" type="text" placeholder="Username" [ngClass]="{'form-control': true, 'is-invalid': UsernameErrors}">
    <div *ngIf="form.controls['username'].pending">Validazione in corso...</div>
  </div>
  <div class="form-group">
    <label for="psw1">Password</label>
    <input formControlName="password" id="psw1" type="password" placeholder="Username" class="form-control">
  </div>

  <div class="form-group">
    <label for="psw2">Conferma password</label>
    <input formControlName="confirm" id="psw2" type="password" placeholder="Username" class="form-control">
  </div>

  <div class="form-check">
    <input formControlName="azienda" type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Azienda</label>
  </div>
  <div class="form-group">
    <label for="in3">P.IVA</label>
    <input formControlName="piva" id="in3" type="text" class="form-control" placeholder="P.Iva">
  </div>

  <div formArrayName="indirizzi" *ngFor="let indirizzo of Addresses.controls; let i = index" class="card my-2 mx-2">
    <div [formGroupName]="i" class="card-body">
      <div class="form-group">
        <label for="via">Via</label>
        <input formControlName="via" id="via" placeholder="Via">
      </div>
      <div class="form-group">
        <label for="via">Cap</label>
        <input formControlName="cap" id="via" placeholder="CAP">
      </div>
    </div>
    <button type="button" class="btn btn-danger" (click)="removeAddress(i)">Elimina</button>
  </div>

  <button type="button" class="btn btn-secondary" (click)="addAddress()">Aggiungi indirizzo</button>


  <br/>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Salva</button>

</form>