
<div class="container">
<h1>prova form</h1>

<form #f="ngForm" (submit)="save(f)">
  <div class="form-group">
    <label for="in1">Nome</label>
    <input [(ngModel)]="formData.name" #label1="ngModel" id="in1" type="text" required name="name" [ngClass]="{'form-control': true, 'is-invalid': label1.errors && f.touched}" placeholder="Nome">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="in2">Cognome</label>
    <input [(ngModel)]="formData.surname" id="in2" type="text" required name="surname" class="form-control" placeholder="Cognome">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="in3">Email</label>
    <input [(ngModel)]="formData.email" #emailLabel="ngModel" id="in3" type="email" required email name="email" [ngClass]="{'form-control': true, 'is-invalid': emailLabel.errors && f.touched}" placeholder="Email">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="in4">Username</label>
    <input [(ngModel)]="formData.username" id="in4" type="text" required [pattern]="usernameRgx" name="username" class="form-control" placeholder="Username">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-check">
    <input [(ngModel)]="formData.business" name="business" type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Azienda</label>
  </div>

  <div class="form-group" *ngIf="!formData.business">
    <label for="in6">Gender</label>
    <select #gender id="in6" class="form-control" [(ngModel)]="formData.gender" name="gender" required>
      <option *ngFor="let g of genders" [value]="g.value">{{g.label}}</option>
    </select>
  </div>

  <div class="form-group" *ngIf="formData.business">
    <label for="in7">P.IVA</label>
    <input [(ngModel)]="formData.vatNumber" id="in7" type="text" required name="vatNumber" class="form-control" placeholder="P.IVA">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <br/>
  <button type="submit" class="btn btn-primary">Salva</button>
</form>

<pre>valid {{f.valid}}</pre>
<pre>invalid {{f.invalid}}</pre>
<pre>touched {{f.touched}}</pre>
<pre>untouched {{f.untouched}}</pre>
<pre>pristine {{f.pristine}}</pre>
<pre>dirty {{f.dirty}}</pre>


</div>